@*

*@
@{
    ViewBag.Title = "Boy";
}
<!--Calling name and mesage properties from ViewBag assigned in controller-->
<div class="text-center">
    <h1 class="display-4">@ViewBag.Name2</h1>
    <p>@ViewBag.Message2</p>
    <!--Link to Going back home>-->
    <a asp-area="" asp-controller="Home" asp-action="Index">BACK</a>
</div>


