@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Teacher";
}
<!--Calling name and mesage properties from ViewBag assigned in controller-->
<div class="text-center">
    <h1 class="display-4">@ViewBag.Name3</h1>
    <p>@ViewBag.Message3</p>
    <!--Link to go back home-->
    <a asp-area="" asp-controller="Home" asp-action="Index">BACK</a>
</div>
